$boxHeight: 100px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

.wrapper {
  width: 100%;
  .boxWrapper {
    height: $boxHeight;
    width: 100%;
  } 
}
.boxContain {
  position: relative;
  .notShown {
    height: 0;
    padding: 0;
  }
  .boxHead {
    background: #c3c3c3;
    border: 1px solid #00ff00;
    float: left;  
    height: $boxHeight;
    position: relative;
    text-align: center;
    z-index: 2;
    .boxHeadContent {
      display: table;
      height: 100%;
      width: 100%;
      z-index: 1;
      h2 {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .boxContent {
    background: #f2f2f2;
    float: left;
    max-height: 1000px;
    overflow: hidden;
    padding: 2.5%;
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: $break-small) {
  .boxHead {
    width: 100%;
  }
}
@media screen and (min-width: $break-small + 1) and (max-width: $break-medium) {
  .boxHead {
    width: 33.335%;
  }
}
@media screen and (min-width: $break-medium + 1) and (max-width: $break-large) {
  .boxHead {
    width: 25%;
  }
}
@media screen and (min-width: $break-large) {
  .boxHead {
    width: 20%;
  }
}
