.wrapper {
  width: 100%;
  .boxWrapper {
    height: 100px;
    width: 100%;
  } 
}
.boxContain {
  position: relative;
  width: inherit;
  .boxHead {
    background: #c3c3c3;
    border: 1px solid #00ff00;
    float: left;  
    height: 100px;
    position: relative;
    text-align: center;
    width: 25%;
    z-index: 2;
    .boxHeadContent {
      display: table;
      height: 100%;
      width: 100%;
      h2 {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .boxContent {
    background: #f2f2f2;
    float: left;
    padding: 2.5%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}